.WordCloud {
	position:relative;
	width:auto;
	height:auto;
	overflow:visible;
}

.word {
	position:absolute;
}

.WordCloud .word.wc_l10_0 { font-size:30%; color:#111; }
.WordCloud .word.wc_l10_1 { font-size:35%; color:#222;}
.WordCloud .word.wc_l10_2 { font-size:40%; color:#3F3;}
.WordCloud .word.wc_l10_3 { font-size:45%; color:#A44;}
.WordCloud .word.wc_l10_4 { font-size:50%; color:#555;}
.WordCloud .word.wc_l10_5 { font-size:60%; color:#66F;}
.WordCloud .word.wc_l10_6 { font-size:70%; color:#777;}
.WordCloud .word.wc_l10_7 { font-size:80%; color:#888;}
.WordCloud .word.wc_l10_8 { font-size:90%; color:#9af;}
.WordCloud .word.wc_l10_9 { font-size:100%; color:#33f;}
.WordCloud .word.wc_l10_10 { font-size:110%; color:#f33;}
